iaas_classic_api_key = ""
iaas_classic_username = ""
private_vlan          = ""
public_vlan           = ""
vpc_cidr              = ""
pre_shared_key        = ""
vpc_vpn_gateway_ip    = ""
vsrx_public_ip        = ""
vsrx_private_ip       = ""
