iaas_classic_username = ""
iaas_classic_api_key  = ""
ssh_key               = ""
datacenter            = ""
domain                = ""
hostname              = ""
existing_public_vlan  = ""
existing_private_vlan = ""