ansible_command_timeout: "120"
private_vlan: "${private_vlan}"
public_vlan: "${public_vlan}"
private_subnet_gw_cidr: "${private_subnet_gateway}"
private_subnet_cidr: "${private_subnet}"
public_subnet_gw_cidr: "${public_subnet_gateway}"
public_subnet_cidr: "${public_subnet}"